<div class="header"
     *ngIf="authorizationSuccessful"
>
  <a [routerLink]="['']"
     [routerLinkActive]="['active-link']"
     [routerLinkActiveOptions]="{exact: true}"
  >
    Home
  </a>
  <a [routerLink]="['about']"
     [routerLinkActive]="['active-link']"
  >
    About
  </a>
  <a [routerLink]="['logout']"
     [routerLinkActive]="['active-link']"
     (click)="authorizationSuccessful = false"
  >
    Logout
  </a>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


<div class="container-fluid"
     *ngIf="!authorizationSuccessful"
>
  <div class="row">
    <div class="col-xs-12  col-lg-6 offset-lg-3">
      <app-material-login
        (authorizationClick)="redirect($event)"
      ></app-material-login>
    </div>
  </div>
</div>


